{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "plugin:react/jsx-runtime"
  ],
  "plugins": ["prettier"],
  "rules": {
    "react/function-component-definition": [
      "warn",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-no-undef": ["error", { "allowGlobals": true }],
    "arrow-body-style": ["warn", "as-needed"],
    "no-unused-vars": "warn"
  }
}
