.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  display: flex;
}
.image {
  /* justify-content: flex-start; */
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.image img {
  width: 100%;
  object-fit: contain;
}
.content {
  display: flex;
  margin: 1rem rem;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section p {
  width: 75%;
  margin: 0 0 0 2rem;
}
.layout {
  margin: 1rem;
  width: 90%;
  max-width: 40rem;
  display: flex;
}
