.main {
    margin: 10rem auto;
    width: 90%;
    max-width: 44rem;
    display: flex;
    color: white;
  }
  .actions {
    margin: 1rem;
    display: flex;
    justify-content: center;
  }
  .actions button {
    padding: 1rem;;
    font: inherit;
    cursor: pointer;
    border: 1px solid #65928b;
    background-color: transparent;
    transition-duration: 0.4s;
    border-radius: 4px;
  }
  .actions a {
    text-decoration: none;
    color: white;
  }
  .actions button:hover {
    color: #282c34;
    background-color: #65928b;
  }
  .h1 {
    margin: 1rem;
  }
  