.image {
  /* justify-content: flex-start; */
  width: 100%;
  height: auto;
  overflow: hidden;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.image img {
  width: 100%;
  object-fit: contain;
}
.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem 0;
}
.content {
  margin: 1rem 1rem;
  color: white;
  width: 100%;
  justify-content:center;
  align-items: center;
  /* justify-content: flex-end; */
}
.content h1{
    width: 100;
    text-align: center;
}
.content p{
    text-align: center;
}
